# all shell scripts keep unix line endings
*.sh                    text eol=lf
# all batch scripts keep Windows line endings
*.bat                   text eol=crlf
*.cmd                   text eol=crlf
